body {
  display: flex;
  flex-direction: column;
}

/* header */
header {
  height: 3.5rem;
  width: 100%;
  background-color: var(--grey);
  z-index: 100;
  display: grid;
  place-items: center;
}

.nav-logo {
  color: var(--blue);
}
/* End of header */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 1rem;
}
.form {
  justify-self: center;
}

.text-input {
  padding: 2px;
  margin-bottom: 10px;
  display: block;
  width: 13.6rem;
  border: 2px solid var(--blue);
}
.forgot-password {
  display: grid;
  place-items: center;
  font-size: 0.7rem;
  position: relative;
  bottom: 0.3rem;
}
.forgot-password a {
  color: var(--blue);
}
.sign-in {
  border: 2px solid var(--blue);
  box-shadow: 2px 2px 3px 4px var(--grey);
  width: 31rem;
  display: grid;
  place-items: center;
  margin: 1rem 0;
  padding: 0.8rem;
}

.sign-in-form {
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.sign-in-btn {
  display: grid;
  place-items: center;
  margin: 0.3rem auto 1rem auto;
  width: 13.6rem;
  line-height: 1.3rem;
}
.btn-blue:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.sign-up {
  border: 2px solid var(--blue);
  box-shadow: 2px 2px 3px 4px var(--grey);
  width: 31rem;
  height: 18rem;
  display: grid;
  place-items: center;
  padding: 0.8rem;
}
.sign-up-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.sign-up-btn {
  display: grid;
  place-items: center;
  margin: 0.4rem auto 1rem auto;
  width: 13.6rem;
  line-height: 1.3rem;
}

.sign-via {
  display: flex;
  position: relative;
  color: var(--blue);
  bottom: 0.5rem;
}
.or {
  color: var(--blue);
  display: grid;
  place-items: center;
  margin: 1rem 0;
}
/*sign in via icons */
.social-links i {
  color: var(--blue);

  margin-left: 8px;
}

.btn-gold:hover {
  opacity: 0.7;
  transition: 0.2s;
}

/*end of sign in via icons */

.text-input:focus::placeholder {
  color: transparent;
}

.slogan {
  color: var(--blue);
  display: grid;
  place-items: center;
  margin-bottom: 0.7rem;
  font-size: clamp(0.5rem, 1.7rem, 2rem);
}
.social-img {
  max-width: 100%;
  margin-top: 2.5rem;
  height: 20rem;
  width: 50rem;
}
/* media query */
@media screen and (max-width: 992px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .social {
    display: block;
    position: relative;
    margin: 3rem 2rem 0 2rem;
  }
  .container {
    display: grid;
    place-items: center;
    height: 50vh;
  }
  .social-img {
    position: relative;
    top: -2rem;
  }
  .slogan {
    text-align: center;
    margin-top: 1rem;
  }
  .form {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .sign-in {
    width: 20rem;
    margin: 0 auto;
    padding: 0.5rem;
  }
  .sign-up {
    height: 25rem;
    width: 20rem;
    margin: 0 auto;
    padding: 0.5rem;
  }

  .sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}
