:root {
  --blue: #14213d;
  --gold: #fca311;
  --grey: #e5e5e5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

/* Start of global values */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-just-cntr {
  justify-content: center;
}

.flex-align-cntr {
  align-items: center;
}

.btn {
  font-size: 16px;
  font-weight: 300;
  padding: 0.2rem 2rem;
  color: white;
  border: none;
  background: white;
  cursor: pointer;
}

.btn-blue {
  background: var(--blue);
}

.btn-gold {
  background: var(--gold);
}

.btn-grey {
  background: var(--grey);
  color: var(--blue);
  border: 1px solid var(--blue);
}

.btn-white {
  color: var(--blue);
  border: 1px solid var(--blue);
}

.btn-gold-border {
  color: var(--gold);
  border: 1px solid var(--gold);
}

.btn-dead {
  color: var(--grey);
  border: 1px solid var(--grey);
  box-shadow: 0px 3px 5px var(--grey);
}

.select-gold {
  color: var(--gold);
  border: 1px solid var(--gold);
  appearance: none;
  padding: 2px 50px 2px 2px;
  background: url(images/arrow-down-gold.svg);
  background-repeat: no-repeat;
  background-position: 96% 50%;
  background-size: 10px;
}

.select-blue {
  color: var(--blue);
  border: 1px solid var(--blue);
  appearance: none;
  padding-right: 15px;
  background: url(images/arrow-down-blue.svg);
  background-repeat: no-repeat;
  background-position: 96% 50%;
  background-size: 10px;
}
/* End of global values */

header {
  height: 6rem;
  background-color: var(--grey);
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.nav-logo {
  color: var(--gold);
  position: relative;
  top: 20px;
}
.sign-in-form {
  position: relative;
  top: 25px;
}
.text-input {
  padding: 2px;
  margin-right: 8px;
}
.forgot-password {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}
.sign-via {
  display: flex;
  position: relative;
  top: -10px;
}
.fa {
  padding: 5px;
  font-size: 20px;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  text-align: center;
  text-decoration: none;
  margin: 1px 6px;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.text-input:focus::placeholder {
  color: transparent;
}
.btn-gold:hover {
  opacity: 0.7;
  transition: 0.2s;
}
main {
  background-color: var(--blue);
}
